$dark: (
  bg-primary: #0d1117,
  bg-accent: #161d27,
  bg-secondary: #12171f,

  icon: #d3d3d3,
  icon-glow: #d3d3d36e,

  text-accent: #fff,
  text-primary: #d3d3d3,
  text-secondary: #aeb2c2,
  text-silent: #61656e,
  text-href: #65adff,

  success: #289c56,
  warning: #ccaa3a,
  danger: #ac3737,
  neutral: #1d67c7,
  funky: #c123d5,

  border: #31313d7c,
  border-accent: #31313d,

  input-border: #2f2f36,
  input-outline: #4c6acc,
  input-focus-outline: #6290ff,

  tab-hovered: #181f2b,
  tab-active: #4c6acc,
);