$light: (
  bg-primary: #fff,
  bg-accent: rgb(221, 221, 221),
  bg-secondary: rgb(242, 242, 242),

  icon: #303030,
  icon-glow: #3030308f,

  text-accent: #000,
  text-primary: rgb(39, 39, 41),
  text-secondary: #575757,
  text-silent: #8d8d8d,
  text-href: #246bbb,

  success: #289c56,
  warning: #ebbe2d,
  danger: #ac3737,
  neutral: #1a73e8,
  funky: #c123d5,

  border: lightgrey,
  border-accent: lightgrey,

  input-border: #e0e0e0,
  input-outline: #327ee9,
  input-focus-outline: #80aef0,

  tab-hovered: #eeeeee,
  tab-active: #327ee9,
);